/* ProductDisplay.css */

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px ;
  border-radius: 8px;
  width: 800px;
  margin: 10px 450px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  margin-top: 15px;
  padding-top: 0px;
  padding-bottom: 5px;
}

 .sectionone{
  display: flex;
  flex-direction: column;
  margin: 0px 100px;


}

.sectiontwo{
  display: flex;
  flex-direction: row;
  margin: 0px 100px;
} 

.product-image {
  width: 400px;
  height: 380px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  padding-top: 5px;
  
}

h1 {
  font-size: 28px;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 18px;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
 
}

.quantity-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.quantity-selector button {
  background-color: #5f5f5f;
  color: white;
  border: none;
  padding: 10px;
  width: 40px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  gap: 20px;
}

.quantity-selector button:hover {
  background-color: #000000;
}

.quantity-selector span {
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.option-dropdown {

  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 18px;
  color: #333;
  background-color: #fff;
  margin-left: 30px;
}

.option-dropdown:focus {
  border-color: #1e90ff;
  outline: none;
}

.price p {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 30px;
}

.add-to-cart {
  background-color: #000000;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-left: 50px;
}

.add-to-cart:hover {
  background-color: #929292;
}

.add-to-cart:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}